<!doctype html>
<html lang="ru">
<head>
    <meta charset="UTF-8">
    <meta name="viewport"
          content="width=device-width, user-scalable=no, initial-scale=1.0, maximum-scale=1.0, minimum-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Nik's market</title>
    <link rel="shortcut icon" href="/images/logo.png" type="image/png">
    {% for css_file in css_files %}
        <link rel="stylesheet" href="{{ css_file }}">
    {% endfor %}
</head>
<body>
<div class="wrapper">
    {% include 'admin/header.tmpl' %}
    {% include 'admin/top_navigation.tmpl' %}
    <!-- Content -->
    <div>
        {% include 'admin/pages/' ~ current_page ~ '.tmpl' %}
    </div>
    {% include 'admin/footer.tmpl' %}
</div>
{% include 'main/my_account.tmpl' %}
{% for js_file in js_files %}
    <script type="text/javascript" src="{{ js_file }}"></script>
{% endfor %}
</body>
</html>