{% include 'main/pages/common/top_article.tmpl' %}
<div class="container content">
    <div class="products-body">
        {% include 'main/pages/goods/left_panel.tmpl' %}
        {% include 'main/pages/goods/right_panel.tmpl' %}
    </div>
</div>
{% include 'main/pages/common/features.tmpl' %}