{% include 'main/pages/index/main_slider.tmpl' %}
{% include 'main/pages/index/special_container.tmpl' %}
{% include 'main/pages/index/featured_items.tmpl' %}
{% include 'main/pages/index/features.tmpl' %}