<div class="container">
    <form method="post">
        <p class="text-title">Ваше имя</p>
        <input name="name" class="text-input" type="text" required="required">
        <p class="text-title">Логин</p>
        <input name="login" class="text-input" type="text" required="required">
        <p class="text-title">Пароль</p>
        <input name="password" class="text-input" type="password" required="required">
        <br>
        <button name="signup" type="submit" class="btn btn-red btn-big">Регистрация</button>
    </form>
</div>