<div class="gallery">
    <a target="_blank" href="/image/id/1"><img src="/images/small/1.jpg" alt=""></a>
    <a target="_blank" href="/image/id/2"><img src="/images/small/2.jpg" alt=""></a>
    <a target="_blank" href="/image/id/3"><img src="/images/small/3.jpg" alt=""></a>
    <a target="_blank" href="/image/id/4"><img src="/images/small/4.jpg" alt=""></a>
    <a target="_blank" href="/image/id/5"><img src="/images/small/5.jpg" alt=""></a>
    <a target="_blank" href="/image/id/6"><img src="/images/small/6.jpg" alt=""></a>
    <a target="_blank" href="/image/id/7"><img src="/images/small/7.jpg" alt=""></a>
</div>