<div class="goods">
    <div class="row">
        {% if goods|length > 0 %}
            {% for good in goods %}
                <div class="col-6 col-md-4 col-lg-3 p-1">
                    <div class="card">
                        <img class="card-img-top" src="/images/small/{{ good.img }}" alt="Card image cap">
                        <div class="card-header">
                            <h5 class="card-title">
                                {{ good.title }}
                            </h5>
                        </div>
                        <div class="card-body">
                            <p class="card-text">
                                {{ good.description }}
                            </p>
                            <h6 class="card-subtitle">
                                Цена: {{ good.price }}$
                            </h6>
                        </div>
                    </div>
                </div>
            {% endfor %}
        {% else %}
            <p>Товары не найдены</p>
        {% endif %}
    </div>
</div>