<div id="my-account-panel" class="my-account-panel">
    {% if authorized_user %}
        {% include 'main/my_account/user.tmpl' %}
    {% else %}
        {% include 'main/my_account/guest.tmpl' %}
    {% endif %}
</div>