<div class="col-12 col-lg-6 col-xl-4">
    <form class="form-group" method="post">
        <p>Логин</p>
        <input name="login" class="form-control" type="text" required="required">
        <p>Пароль</p>
        <input name="password" class="form-control" type="password" required="required">
        <button name="signin" type="submit" class="btn btn-primary mt-3">Авторизация</button>
    </form>
</div>