<nav class="container nav">
    <ul>
        <li><a href="/" class="active">Home</a></li>
        <li><a href="/goods">Man</a></li>
        <li><a href="/goods">Women</a></li>
        <li><a href="/goods">Kids</a></li>
        <li><a href="/goods">Accoseriese</a></li>
        <li><a href="/goods">Featured</a></li>
        <li><a href="/goods">Hot Deals </a></li>
    </ul>
</nav>