<div class="products-right-panel">
    {% include 'main/pages/goods/right_panel/top_filter.tmpl' %}
    {% include 'main/pages/goods/right_panel/items.tmpl' %}
    {% include 'main/pages/goods/right_panel/navigation.tmpl' %}
</div>