@import url("https://fonts.googleapis.com/css?family=Lato:400,400i,900,900i");
html {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
  height: 100%; }

body {
  height: 100%; }

* {
  -webkit-box-sizing: inherit;
  -moz-box-sizing: inherit;
  box-sizing: inherit; }
  *::before, *::after {
    -webkit-box-sizing: inherit;
    -moz-box-sizing: inherit;
    box-sizing: inherit; }

.box-flex {
  display: flex; }

.content {
  flex: 1; }

.wrapper {
  display: flex;
  flex-direction: column;
  min-height: 100%; }

.container {
  width: 1200px;
  margin: 0 auto;
  padding: 0 30px;
  align-items: center; }

.spaced-container {
  width: 1200px;
  margin: 30px auto;
  padding: 0 30px;
  align-items: center; }

.header {
  border-bottom: 1px solid #ececec; }

.header > div {
  justify-content: space-between; }

.header-left, .header-right {
  align-items: center; }

.header-right {
  margin-top: 5px; }

.logo {
  display: flex;
  margin: 29px 35px 17px -4px;
  color: #222222;
  font-family: Lato, serif;
  font-size: 27px;
  font-weight: 300;
  text-transform: uppercase;
  letter-spacing: 0.3px;
  text-decoration: none;
  align-items: center; }
  .logo:focus {
    outline: none; }
  .logo img {
    margin-right: 13px; }
  .logo span {
    color: #f16d7f;
    font-family: Lato, serif;
    font-weight: 600;
    letter-spacing: 0.68px; }

.header-search-box {
  margin-top: 6px; }

.text-title {
  color: #222222;
  font-family: Lato, serif;
  font-size: 18px;
  font-weight: 600; }

.text-input {
  min-width: 40%;
  max-width: 100%;
  padding: 18px 20px;
  margin: 6px 0;
  border: 1px solid #eaeaea; }

.first-letter-up {
  display: inline-block; }
  .first-letter-up:first-letter {
    text-transform: uppercase; }

a {
  color: inherit;
  text-decoration: none; }

.btn {
  display: inline-block;
  padding: 5px 10px;
  text-decoration: none;
  margin: 3px 0 6px;
  font-family: Lato, serif;
  border: none;
  cursor: pointer;
  text-align: center; }
  .btn-block {
    width: 100%; }
  .btn-big {
    margin: 6px 0;
    padding: 10px 15px;
    font-size: 22px; }

.btn-browse {
  width: 88px;
  height: 39px;
  border-radius: 3px 0 0 3px;
  border: 1px solid #e6e6e6;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  background: #cdcdcc linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%);
  text-align: left;
  padding-left: 14px; }
  .btn-browse > span {
    padding-left: 6px; }
  .btn-browse:focus {
    outline: none; }
  .btn-browse:hover {
    background: #a8a8a8 linear-gradient(to bottom, #ffffff 0%, #dbdbdb 100%); }

.search-input {
  width: 279px;
  height: 39px;
  border-radius: 0;
  border: 1px solid #e6e6e6;
  border-right: 0;
  background-color: #ffffff;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300;
  line-height: 32px;
  padding: 0 14px; }
  .search-input:focus {
    outline: none; }

.btn-search {
  height: 39px;
  padding: 0 9px;
  border-radius: 0 3px 3px 0;
  border: 1px solid #e6e6e6;
  border-left: 2px solid #e8e8e8;
  background: #cdcdcc linear-gradient(to bottom, #f9f9f9 0%, #f5f5f5 100%); }
  .btn-search:focus {
    outline: none; }
  .btn-search:hover {
    background: #a8a8a8 linear-gradient(to bottom, #ffffff 0%, #dbdbdb 100%); }

.btn-cart {
  margin: 8px 14px 0 0;
  padding: 3px 9px;
  background-color: transparent;
  border: 0; }
  .btn-cart:focus {
    outline: none; }
  .btn-cart img {
    width: 36px;
    height: 32px; }

.btn-my-account {
  padding: 0 20px;
  height: 39px;
  font-family: Lato, serif;
  font-size: 15px;
  font-weight: 400;
  line-height: 32px;
  border: 0; }

.btn-red {
  background-color: #f16d7f;
  outline: 1px solid #f16d7f;
  color: #ffffff;
  transition: background-color 0.2s, color 0.2s, outline 0.2s; }
  .btn-red:focus {
    outline: none; }
  .btn-red:hover {
    background-color: #ffffff;
    color: #f16d7f;
    outline: 1px solid #f16d7f; }

.btn-white {
  background-color: #ffffff;
  color: #f16d7f;
  outline: 1px solid #f16d7f;
  transition: background-color 0.2s, color 0.2s, outline 0.2s; }
  .btn-white:focus {
    outline: inherit; }
  .btn-white:hover {
    background-color: #f16d7f;
    color: #ffffff; }

.nav > ul {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0; }
  .nav > ul > li {
    list-style-type: none;
    padding: 0 16px; }
.nav a {
  display: block;
  padding: 21px 9px 12px 9px;
  color: #222222;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  text-decoration: none;
  transition: border 0.2s;
  border-bottom: 3px solid transparent; }
  .nav a:hover {
    border-bottom: 3px solid #a9a9a9; }
.nav .active {
  border-bottom: 3px solid #ef5b70; }

.main-slider {
  position: relative;
  height: 613px;
  min-width: 1200px;
  justify-content: center;
  background-color: #e8e8e8; }
  .main-slider > div {
    position: relative; }
  .main-slider-img {
    height: 100%;
    width: 100%; }
  .main-slider-title {
    position: absolute;
    left: 30px;
    top: 0;
    height: 100%;
    width: 95%; }
    .main-slider-title > div {
      position: absolute;
      height: 93px;
      left: 0;
      top: 226px;
      padding-left: 11px;
      border-left: 13px solid #f16d7f;
      color: #222222;
      font-family: Lato, serif;
      font-size: 40px;
      font-weight: 600;
      text-transform: uppercase; }
    .main-slider-title-first-line {
      font-family: Lato, serif;
      font-size: 60px;
      font-weight: 600;
      text-transform: uppercase;
      letter-spacing: 1.5px;
      margin-top: -13px; }
    .main-slider-title-second-line {
      letter-spacing: 1px;
      margin-top: -2px; }
      .main-slider-title-second-line > span {
        color: #f16d7f;
        letter-spacing: 1px; }

.special {
  margin-top: 92px;
  margin-bottom: 90px;
  flex-direction: row; }
  .special-column {
    display: flex;
    flex-direction: column;
    width: 50%; }
    .special-column-left {
      padding-right: 9px; }
    .special-column-right {
      padding-left: 10px; }
  .special-img {
    display: block;
    position: relative;
    margin: 8.5px 0;
    transition: box-shadow 0.2s;
    box-shadow: 2px 2px 3px transparent; }
    .special-img > img {
      width: 100%;
      height: 100%; }
    .special-img:hover {
      box-shadow: 2px 2px 3px gray; }
      .special-img:hover .special-title-first {
        color: #f16d7f; }
      .special-img:hover .special-title-second {
        color: #222222; }
    .special-img-small {
      height: 264px; }
    .special-img-big {
      height: 543px; }
  .special-title {
    position: absolute;
    left: 0;
    top: 26px;
    height: 85px;
    padding: 12px 18px;
    background-color: #ffffff;
    color: #222222;
    font-family: Lato, serif;
    font-size: 18px;
    font-weight: 400;
    text-transform: uppercase; }
    .special-title > div {
      width: 100%; }
    .special-title-first {
      letter-spacing: 0.45px;
      transition: color 0.2s;
      font-size: 18px;
      font-weight: 400;
      text-transform: uppercase; }
    .special-title-second {
      color: #f16d7f;
      font-size: 30px;
      letter-spacing: 0.75px;
      transition: color 0.2s;
      margin-top: 5px; }

.featured-items-title {
  width: 100%;
  color: #222222;
  font-family: Lato, serif;
  font-size: 30px;
  font-weight: 700;
  line-height: 23px;
  letter-spacing: 0.5px;
  text-align: center; }
.featured-items-sub-title {
  width: 100%;
  margin-top: 16px;
  color: #9f9f9f;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 12px;
  letter-spacing: 0.35px;
  text-align: center; }
.featured-items-box {
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 13px; }
.featured-items-btn {
  text-align: center; }
  .featured-items-btn a {
    font-family: Lato, serif;
    padding: 18px 24px;
    font-size: 16px;
    font-weight: 700;
    line-height: 54px;
    text-decoration: none; }
    .featured-items-btn a span {
      margin-left: 9px; }

.add-to-cart-btn {
  display: flex;
  align-items: center;
  padding: 10px 14px 7px 12px;
  color: #ffffff;
  font-family: Lato, serif;
  font-size: 13px;
  font-weight: 700;
  border: 1px solid #ffffff;
  background-color: transparent; }
  .add-to-cart-btn img {
    width: 27px;
    height: 25px;
    padding-right: 6px; }
  .add-to-cart-btn:focus {
    outline: none; }
  .add-to-cart-btn:hover {
    background-color: rgba(58, 56, 56, 0.8); }

.features-inline {
  width: 100%;
  min-width: 1200px;
  height: 344px;
  padding-top: 89px;
  margin-top: 107px;
  background-color: #222224; }
  .features-inline > .container > div {
    display: flex;
    justify-content: space-between;
    align-items: flex-end; }

.feature-inline-box {
  text-align: center;
  width: 309px; }
  .feature-inline-box img {
    padding-bottom: 22px; }
  .feature-inline-box .text {
    color: #fbfbfb;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    letter-spacing: 0.35px; }
    .feature-inline-box .text h3 {
      width: 100%;
      font-size: 20px;
      font-weight: 700;
      letter-spacing: 0.5px;
      margin: 0 0 17px;
      padding: 0; }

.feature {
  display: inline-flex;
  margin-top: 128px;
  margin-bottom: 95px;
  width: 100%;
  background-color: #222224; }
  .feature > img {
    width: 770px;
    height: 532px; }
    .feature > img div {
      flex-direction: column; }
  .feature-box {
    margin: 48px 34px 0 34px; }
    .feature-box > img {
      float: left;
      width: 48px; }
    .feature-box > article {
      margin-left: 77px;
      color: #fbfbfb;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 24px;
      letter-spacing: 0.35px; }
      .feature-box > article > h2 {
        width: 100%;
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.5px;
        margin: 0 0 17px;
        padding: 0; }

.subscribe {
  width: 100%;
  min-width: 1200px;
  height: 441px;
  background-image: url("../images/sub.jpg");
  background-size: cover; }
  .subscribe > div {
    height: 100%; }
    .subscribe > div > div {
      height: 100%;
      display: inline-flex; }
  .subscribe-panel-left {
    height: 100%;
    width: 569px;
    display: inline-flex;
    padding-top: 110px;
    border-right: 1px solid white; }
  .subscribe-panel-right {
    height: 100%;
    padding-top: 113px;
    padding-left: 95px;
    text-align: center;
    border-left: 1px solid white; }
  .subscribe-text-l {
    margin: 14px 70px 0 27px;
    color: #222224;
    font-family: Lato, serif;
    font-size: 15px;
    font-style: italic; }
    .subscribe-text-l-title {
      margin-top: 19px;
      color: #f16d7f;
      font-size: 16px;
      font-weight: 700; }
      .subscribe-text-l-title-first {
        font-weight: 700;
        letter-spacing: 0.4px;
        line-height: 26px; }
      .subscribe-text-l-title-second {
        color: #222224;
        font-size: 12px;
        font-weight: 300;
        letter-spacing: 0.3px;
        line-height: 10px; }
  .subscribe-text-r-title {
    font-family: Lato, serif;
    font-weight: 400;
    font-size: 24px;
    letter-spacing: 0.6px;
    text-transform: uppercase;
    margin-top: 29px; }
  .subscribe-text-r-sub-title {
    font-family: Lato, serif;
    font-size: 14px;
    letter-spacing: 0.6px; }
  .subscribe-btn-l {
    display: inline-flex;
    margin-top: 39px; }
    .subscribe-btn-l div {
      width: 41px;
      height: 7px;
      margin-right: 10px;
      background-color: #d6d6d6; }
      .subscribe-btn-l div.active {
        background-color: #f16d7f; }
  .subscribe-img-r > div {
    position: absolute;
    left: 0;
    top: 111px;
    width: 569px;
    height: 174px;
    color: #222224;
    text-align: center; }
  .subscribe-btn {
    display: flex;
    justify-content: center;
    margin-top: 33px; }
    .subscribe-btn input {
      width: 280px;
      height: 49px;
      border: 0;
      border-top-left-radius: 23px;
      border-bottom-left-radius: 23px;
      background-color: #e1e1e1;
      opacity: 0.67;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 400;
      padding: 0 15px 0 30px; }
      .subscribe-btn input:focus {
        outline: none; }
    .subscribe-btn button {
      width: 107px;
      height: 49px;
      border: 1px solid transparent;
      transition: background-color 0.2s, color 0.2s, border 0.2s;
      border-radius: 0 23px 23px 0;
      background-color: #f16d7f;
      color: #ffffff;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 400; }
      .subscribe-btn button:focus {
        outline: none; }
      .subscribe-btn button:hover {
        background-color: #ffffff;
        color: #f16d7f;
        border: 1px solid #f16d7f; }

.nav-down {
  width: 100%;
  margin-top: 48px; }
  .nav-down-about {
    width: 427px;
    color: #898989;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 24px;
    margin-right: 64px; }
  .nav-down-menu-item {
    color: #898989;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 400;
    letter-spacing: 0.4px;
    line-height: 42px; }
    .nav-down-menu-item ul {
      padding: 0;
      margin: 0; }
    .nav-down-menu-item li {
      list-style-type: none;
      padding: 0; }
    .nav-down-menu-item a {
      text-decoration: inherit;
      color: inherit;
      transition: color 0.3s; }
      .nav-down-menu-item a:hover {
        color: #f16d7f; }
    .nav-down-menu-item-1 {
      margin-right: 129px; }
    .nav-down-menu-item-2 {
      margin-right: 79px; }
    .nav-down-menu-item > p {
      color: #f16d7f;
      font-family: Lato, serif;
      font-size: 18px;
      font-weight: 700;
      text-transform: uppercase;
      margin-bottom: 45px;
      margin-top: 38px; }

.copyright {
  width: 100%;
  min-width: 1200px;
  margin-top: 78px;
  background-color: #e6e6e6;
  padding: 20px 0 32px 0;
  color: #7a7a7a;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 400; }
  .copyright > .container {
    display: flex;
    justify-content: space-between; }
  .copyright-social-btns {
    display: inline-flex; }
  .copyright-social-btn {
    width: 35px;
    height: 35px;
    margin-left: 5px;
    background-color: #ffffff;
    color: #b2b2b2;
    padding-top: 10px;
    text-align: center;
    transition: background-color 0.3s, color 0.3s; }
    .copyright-social-btn:focus {
      outline: none; }
    .copyright-social-btn:hover {
      background-color: #f16d7f;
      color: #f7f7f8; }
    .copyright-social-btn.active {
      background-color: #f16d7f;
      color: #f7f7f8; }
      .copyright-social-btn.active:hover {
        background-color: #c75b6a; }

.top-article {
  display: flex;
  align-items: center;
  width: 100%;
  min-width: 1200px;
  height: 151px;
  background-color: #f8f3f4; }
  .top-article > div {
    padding: 0 30px 0 30px;
    display: flex;
    justify-content: space-between; }
  .top-article .top-article-title {
    color: #f16d7f;
    font-family: Lato, serif;
    font-size: 24px;
    font-weight: 600;
    text-transform: uppercase; }
  .top-article .top-article-nav {
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 300;
    line-height: 20px;
    text-transform: uppercase; }
    .top-article .top-article-nav ul {
      display: inline-flex; }
    .top-article .top-article-nav li {
      list-style-type: none;
      margin: 0 3px;
      color: #636363;
      cursor: default; }
      .top-article .top-article-nav li .active {
        color: #f16d7f;
        font-weight: 700; }
    .top-article .top-article-nav a {
      text-decoration: none;
      color: inherit; }
      .top-article .top-article-nav a:hover {
        color: #f16d7f; }

.products-left-panel {
  width: 246px; }
  .products-left-panel-menu {
    max-height: 0;
    overflow: hidden;
    color: #6f6e6e;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 400;
    line-height: 33px;
    transition: max-height 1s; }
    .products-left-panel-menu.show {
      max-height: 1000px; }
    .products-left-panel-menu ul {
      padding: 6px 0 39px 19px;
      margin: 0; }
    .products-left-panel-menu li {
      list-style-type: none;
      margin: 0 3px;
      color: #636363; }
    .products-left-panel-menu a {
      text-decoration: none;
      color: inherit; }
      .products-left-panel-menu a:hover {
        color: #ef5b70; }
    .products-left-panel-menu-title {
      padding: 14px 7px 16px 10px;
      margin: 0 0 15px;
      color: #6f6e6e;
      border-left: 8px solid #ef5b70;
      border-bottom: 1px solid #ef5b70;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      cursor: pointer;
      transition: background-color 0.2s, color 0.2s; }
      .products-left-panel-menu-title:hover {
        background-color: rgba(214, 177, 183, 0.31); }
      .products-left-panel-menu-title span {
        float: right; }
      .products-left-panel-menu-title.active {
        color: #ef5b70; }
.products-right-panel {
  width: 851px; }
.products-body {
  display: flex;
  justify-content: space-between;
  margin-top: 56px; }
.products-top-filter {
  width: 100%;
  height: 166px; }
.products-items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-top: 44px; }
.products-item {
  position: relative;
  width: 266px;
  height: 367px;
  margin-bottom: 35px;
  text-decoration: none;
  box-shadow: 2px 2px 3px transparent;
  transition: box-shadow 0.5s; }
  .products-item > figure {
    margin: 0;
    padding: 0; }
  .products-item > img {
    width: 100%;
    height: 283px; }
  .products-item-title {
    color: #6f6e6e;
    font-family: Lato, serif;
    font-size: 13px;
    font-weight: 400;
    text-transform: uppercase;
    padding: 18px 0 0 17px;
    margin: 0;
    cursor: pointer; }
  .products-item-price {
    color: #f16d7f;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 17px 0 0 17px;
    margin: 0; }
  .products-item:hover {
    box-shadow: 2px 2px 3px grey; }
    .products-item:hover .products-item-hover {
      visibility: visible;
      opacity: 1; }
  .products-item-hover {
    display: flex;
    justify-content: center;
    align-items: center;
    visibility: hidden;
    transition: visibility 0s, opacity 0.5s;
    opacity: 0;
    position: absolute;
    left: 0;
    top: 0;
    height: 283px;
    width: 100%;
    background-color: rgba(58, 56, 56, 0.8);
    text-decoration: none; }
  .products-item-refresh-btn {
    width: 60px;
    padding: 13px 16px 13px 18px;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    text-align: center;
    border-radius: 3px; }
    .products-item-refresh-btn:focus {
      outline: none; }
    .products-item-refresh-btn:hover {
      background-color: rgba(58, 56, 56, 0.8); }
  .products-item-love-btn {
    width: 60px;
    padding: 13px 16px 13px 18px;
    margin: 5px 5px 0 0;
    text-align: center;
    color: #ffffff;
    border: 1px solid #ffffff;
    background-color: transparent;
    border-radius: 3px; }
    .products-item-love-btn:focus {
      outline: none; }
    .products-item-love-btn:hover {
      background-color: rgba(58, 56, 56, 0.8); }
.products-footer {
  display: flex;
  justify-content: space-between; }
.products-pagination {
  display: flex;
  justify-content: space-between;
  width: 264px;
  height: 47px;
  padding: 15px 11px 16px 11px;
  color: #aaaaaa;
  border-radius: 3px;
  border: 1px solid #ebebeb;
  background-color: #ffffff;
  font-size: 16px;
  font-weight: 300; }
  .products-pagination a {
    text-decoration: none;
    color: inherit;
    padding: 0 6px;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 300; }
    .products-pagination a.active {
      color: #ef5b70; }
    .products-pagination a.inactive:hover {
      color: #aaaaaa; }
    .products-pagination a:hover {
      color: #ef5b70; }
    .products-pagination a.dots {
      margin: 0 -12px;
      cursor: default; }
.products-view-all-btn {
  height: 47px;
  width: 153px;
  border-radius: 3px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  padding: 15px 0 16px 0;
  color: #ef5b70;
  transition: background-color 0.3s, color 0.3s, border 0.3s; }
  .products-view-all-btn:focus {
    outline: none; }
  .products-view-all-btn:hover {
    background-color: #ef5b70;
    color: #ffffff;
    border: 1px solid #ffffff; }

.sort-panel {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
  height: 53px;
  padding: 10px 9px;
  background-color: #f3f3f3; }

.sort-box {
  background-color: #ffffff;
  display: inline-flex;
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  margin-right: 7px; }
  .sort-box-label {
    border-right: 1px solid #ef5b70;
    padding: 12px 6px 9px 15px; }
  .sort-box-btn {
    padding: 12px 10px 9px 10px; }
    .sort-box-btn span {
      padding: 0 10px 0 16px; }

.filter-panel {
  height: 113px;
  display: flex;
  justify-content: space-between; }

.filter-sub-title {
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 20px;
  text-transform: uppercase; }
.filter-sub-body {
  margin-top: 22px; }
  .filter-sub-body a {
    text-decoration: none;
    color: inherit; }
    .filter-sub-body a:hover {
      color: #f16d7f; }
  .filter-sub-body-1 {
    width: 176px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px;
    justify-content: space-between; }
  .filter-sub-body-2 {
    width: 290px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 25px; }
    .filter-sub-body-2 > div {
      text-align: left;
      width: 70px; }
      .filter-sub-body-2 > div input {
        margin-right: 8px; }
        .filter-sub-body-2 > div input:focus {
          outline: none; }
        .filter-sub-body-2 > div input label {
          width: 100%;
          text-align: left; }
          .filter-sub-body-2 > div input label:hover {
            color: #f16d7f; }
  .filter-sub-body-3 {
    width: 265px; }

.price-values {
  display: flex;
  justify-content: space-between;
  align-items: center;
  color: #6f6e6e;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  line-height: 26px;
  margin-top: 20px; }

.single-product-prew {
  position: relative;
  height: 765px;
  width: 100%;
  margin: 10px auto 0;
  align-items: center;
  background-color: #f7f7f7; }
.single-product-body {
  width: 100%;
  padding: 0 249px;
  margin: 0 auto 118px;
  align-items: center;
  border: 1px solid #eaeaea; }
.single-product-imgs {
  position: absolute;
  display: flex;
  justify-content: center;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%; }
  .single-product-imgs > img {
    height: 100%; }
  .single-product-imgs-arrow-left {
    position: absolute;
    left: 0;
    top: 365px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 18px 21px;
    color: #ffffff;
    font-family: Lato, serif;
    font-size: -24px;
    font-weight: 400; }
  .single-product-imgs-arrow-right {
    position: absolute;
    right: 0;
    top: 365px;
    background-color: rgba(0, 0, 0, 0.2);
    padding: 18px 21px;
    color: #ffffff;
    font-family: Lato, serif;
    font-size: -24px;
    font-weight: 400; }
.single-product-category-name {
  width: 100%;
  text-align: center;
  color: #f16d7f;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  line-height: 24px;
  text-transform: uppercase;
  margin-top: 74px; }
.single-product-devider-1 {
  width: 100%;
  display: inline-flex;
  justify-content: center;
  align-items: center; }
  .single-product-devider-1 .dev-light {
    width: 43px;
    height: 1px;
    background-color: #ef5b70; }
  .single-product-devider-1 .dev-heavy {
    width: 65px;
    height: 3px;
    background-color: #ef5b70; }
.single-product-name {
  width: 100%;
  text-align: center;
  color: #4d4d4d;
  font-family: Lato, serif;
  font-size: 18px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 17px; }
.single-product-description {
  width: 100%;
  text-align: center;
  margin-top: 67px;
  color: #5e5e5e;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 300; }
.single-product-material-and-design {
  margin-top: 28px;
  display: flex;
  justify-content: center; }
  .single-product-material-and-design div {
    color: #b9b9b9;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 0 22px; }
  .single-product-material-and-design span {
    color: #2f2f2f; }
.single-product-price {
  width: 100%;
  text-align: center;
  color: #ef5b70;
  font-family: Lato, serif;
  font-size: 24px;
  font-weight: 700;
  margin-top: 37px; }
.single-product-devider-line {
  width: 100%;
  height: 1px;
  background-color: #ef5b70;
  margin-top: 41px; }
.single-product-filter-box {
  margin: 62px 52px 0;
  display: flex;
  justify-content: space-between; }
  .single-product-filter-box > div {
    display: flex;
    flex-direction: column;
    color: #2f2f2f;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase; }
  .single-product-filter-box select, .single-product-filter-box input {
    width: 146px;
    border: 1px solid #eaeaea;
    background-color: #ffffff;
    margin-top: 15px;
    padding: 13px 16px;
    color: #bcbcbc;
    font-family: Lato, serif;
    font-size: 13px;
    font-weight: 400; }
  .single-product-filter-box select:focus, .single-product-filter-box input:focus {
    outline: none;
    color: black; }
.single-product-add-to-cart-btn {
  width: 540px;
  border: 1px solid #ef5b70;
  background-color: #ffffff;
  color: #ef5b70;
  transition: background-color 0.3s, color 0.3s, border 0.3s;
  font-family: Lato, serif;
  font-size: 16px;
  font-weight: 700;
  padding: 15px 0;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 26px auto 122px; }
  .single-product-add-to-cart-btn img {
    width: 27px;
    height: 25px;
    padding-right: 6px; }
  .single-product-add-to-cart-btn:focus {
    outline: none; }
  .single-product-add-to-cart-btn:hover {
    background-color: rgba(248, 180, 180, 0.8); }
.single-product-like-title {
  width: 100%;
  text-align: center;
  color: #4d4d4d;
  font-family: Lato, serif;
  font-size: 24px;
  font-weight: 600;
  text-transform: uppercase; }
.single-product-like-body {
  display: flex;
  justify-content: space-between;
  margin: 71px 0; }

.box {
  width: 14px;
  height: 14px; }

.bg-red {
  background-color: red; }

.browse-categories {
  position: absolute;
  left: 0;
  top: 0;
  width: 265px;
  border-radius: 5px;
  background-color: #ffffff;
  box-shadow: 0 3px 6px rgba(0, 0, 0, 0.08);
  padding-bottom: 27px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out; }
  .browse-categories.show {
    visibility: visible;
    opacity: 1; }
  .browse-categories-nav {
    padding: 20px 13px 0; }
    .browse-categories-nav > p {
      padding: 0 0 8px 4px;
      color: #232323;
      font-family: Lato, serif;
      font-size: 16px;
      font-weight: 500;
      border-bottom: 1px solid #e8e8e8; }
    .browse-categories-nav ul {
      padding-left: 10px;
      margin: 0; }
    .browse-categories-nav li {
      list-style-type: none; }
    .browse-categories-nav a {
      color: #232323;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 300;
      line-height: 28px;
      text-decoration: none; }
    .browse-categories-nav a:hover {
      color: #f16d7f; }

.shopping-cart-body {
  margin: 89px 0 76px; }
  .shopping-cart-body-table {
    width: 100%;
    border-spacing: 0; }
    .shopping-cart-body-table th {
      color: #222222;
      font-family: Lato, serif;
      font-size: 13px;
      font-weight: 700;
      line-height: 20px;
      text-transform: uppercase;
      border-bottom: 1px solid #000;
      padding-bottom: 18px; }
    .shopping-cart-body-table td {
      padding: 22px 0;
      text-align: center;
      vertical-align: middle;
      color: #656565;
      font-family: Lato, serif;
      font-size: 13px;
      font-weight: 500;
      line-height: 20px;
      border-bottom: 1px solid #000; }
      .shopping-cart-body-table td > span {
        width: 15px;
        height: 15px; }
      .shopping-cart-body-table td > a {
        color: #c0c0c0; }
      .shopping-cart-body-table td > a:hover {
        color: #f16d7f; }
    .shopping-cart-body-table .product-img {
      width: 103px;
      height: 118px;
      transition: transform 0.2s, outline 0.2s; }
      .shopping-cart-body-table .product-img:hover {
        transform: scale(2, 2);
        transition: transform 0.5s, outline 0.2s;
        outline: 1px solid #f16d7f; }
    .shopping-cart-body-table .description {
      text-align: left; }
      .shopping-cart-body-table .description h3 {
        color: #222222;
        font-family: Lato, serif;
        font-size: 13px;
        font-weight: 600;
        text-transform: uppercase;
        margin: 0 0 38px; }
        .shopping-cart-body-table .description h3 a {
          text-decoration: none;
          color: inherit; }
          .shopping-cart-body-table .description h3 a:hover {
            color: #f16d7f; }
      .shopping-cart-body-table .description ul {
        margin: 0;
        padding: 0; }
      .shopping-cart-body-table .description li {
        list-style-type: none;
        color: #575757;
        font-family: Lato, serif;
        font-size: 13px;
        font-weight: 600; }
        .shopping-cart-body-table .description li span {
          color: #6f6e6e;
          font-weight: 300; }
    .shopping-cart-body-table .quantity-input {
      width: 57px;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      padding: 12px 6px;
      text-align: center;
      color: #656565; }
  .shopping-cart-body-clear-and-continue-shopping {
    width: 100%;
    display: flex;
    justify-content: space-between;
    margin-top: 41px; }
    .shopping-cart-body-clear-and-continue-shopping a {
      color: #4a4a4a;
      font-family: Lato, serif;
      font-size: 14px;
      font-weight: 700;
      text-transform: uppercase;
      padding: 20px 40px;
      text-decoration: none;
      border: 1px solid #eaeaea;
      background-color: #ffffff;
      transition: background-color 0.3s, color 0.3s; }
      .shopping-cart-body-clear-and-continue-shopping a:hover {
        background-color: #f16d7f;
        color: white; }
  .shopping-cart-body-deal {
    width: 100%;
    margin-top: 62px;
    display: flex;
    align-items: flex-start;
    justify-content: space-between; }
    .shopping-cart-body-deal > div {
      width: 33.3333333333%; }
      .shopping-cart-body-deal > div .title {
        color: #222222;
        font-family: Lato, serif;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase; }
      .shopping-cart-body-deal > div input, .shopping-cart-body-deal > div select {
        width: 100%;
        margin-top: 17px;
        padding: 18px 20px;
        color: #b1b1b1;
        border: 1px solid #eaeaea; }
      .shopping-cart-body-deal > div button {
        padding: 14px 15px;
        margin-top: 20px;
        background-color: #ffffff;
        border: 1px solid #eaeaea;
        color: #4a4a4a;
        font-family: Lato, serif;
        font-size: 11px;
        font-weight: 700;
        text-transform: uppercase;
        transition: background-color 0.3s, color 0.3s; }
      .shopping-cart-body-deal > div button:focus {
        outline: none; }
      .shopping-cart-body-deal > div button:hover {
        background-color: #f16d7f;
        color: #ffffff; }
    .shopping-cart-body-deal-addresses {
      padding-right: 32px; }
    .shopping-cart-body-deal-discount {
      padding-right: 33px; }
      .shopping-cart-body-deal-discount .sub-title {
        margin-top: 28px; }
    .shopping-cart-body-deal-total {
      background-color: #f5f3f3;
      text-align: right;
      padding: 42px; }
      .shopping-cart-body-deal-total .title {
        margin-top: 14px; }
        .shopping-cart-body-deal-total .title .price {
          margin-left: 10px;
          color: #f16d7f; }
      .shopping-cart-body-deal-total .sub-title .price {
        margin-left: 6px; }
      .shopping-cart-body-deal-total hr {
        margin-top: 20px;
        border: 0;
        border-bottom: 1px solid #e2e2e2; }
      .shopping-cart-body-deal-total a {
        display: block;
        width: 100%;
        margin-top: 14px;
        background-color: #f16d7f;
        padding: 20px 44px;
        color: #ffffff;
        font-family: Lato, serif;
        font-size: 16px;
        font-weight: 700;
        text-transform: uppercase;
        border: none;
        text-decoration: none;
        transition: background-color 0.3s, color 0.3s; }
      .shopping-cart-body-deal-total a:hover {
        background-color: white;
        color: #f16d7f;
        outline: 1px solid #f16d7f; }

.text-align-left {
  text-align: left; }

.column-50 {
  width: 50%; }

.checkout-body {
  width: 100%;
  margin: 88px 0; }
.checkout-item {
  margin-top: 32px;
  padding-bottom: 32px;
  border-bottom: 1px solid #e8e8e8; }
  .checkout-item-title {
    color: #222222;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase;
    transition: color 0.3s; }
    .checkout-item-title:hover {
      color: #f16d7f; }
  .checkout-item-body {
    display: flex;
    overflow: hidden;
    max-height: 0;
    transition: max-height 1s ease-in-out; }
  .checkout-item-checkbox {
    display: none; }
  .checkout-item-checkbox:checked ~ .checkout-item-body {
    max-height: 1000px; }

.item-body-column {
  padding: 39px 35px; }
.item-body-title {
  color: #222222;
  font-family: Lato, serif;
  font-size: 13px;
  font-weight: 600;
  text-transform: uppercase; }
.item-body-sub-title {
  color: #b3b2b2;
  font-family: Lato, serif;
  font-size: 13px;
  font-weight: 400;
  margin-top: 15px; }
.item-body-radio {
  display: block;
  width: 100%;
  margin: 20px 0;
  color: #222222;
  font-family: Lato, serif;
  font-size: 12px;
  font-weight: 600;
  text-transform: uppercase; }
  .item-body-radio input {
    margin-right: 15px; }
.item-body-btn {
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 700;
  text-transform: uppercase;
  margin-top: 36px;
  padding: 20px 55px;
  border: 1px solid #eaeaea;
  background-color: #ffffff;
  transition: background-color 0.3s, color 0.2s, outline 0.2s; }
  .item-body-btn:focus {
    outline: none; }
  .item-body-btn:hover {
    background-color: #f16d7f;
    color: #ffffff;
    outline: 1px solid #f16d7f; }
.item-body-input {
  width: 393px;
  color: #4a4a4a;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 400;
  text-transform: uppercase;
  margin-top: 14px;
  padding: 15px;
  border: 1px solid #eaeaea;
  background-color: #ffffff; }
  .item-body-input:focus {
    outline: none; }
  .item-body-input-label {
    margin-top: 22px;
    color: #222222;
    font-family: Lato, serif;
    font-size: 12px;
    font-weight: 400;
    line-height: 20px;
    text-transform: uppercase; }
    .item-body-input-label span {
      color: #ff0d0d;
      font-size: 17px;
      font-weight: 400;
      line-height: 20px; }
.item-body-forgot-link {
  color: #222222;
  font-family: Lato, serif;
  font-size: 14px;
  font-weight: 600;
  line-height: 20px;
  text-decoration: none;
  margin-left: 31px;
  transition: color 0.2s; }
  .item-body-forgot-link:focus {
    outline: none; }
  .item-body-forgot-link:hover {
    color: #f16d7f; }

.text-red {
  color: #ff0d0d; }

.main-cart {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 0 15px 20px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  z-index: 777; }
  .main-cart.show {
    visibility: visible;
    opacity: 1; }
  .main-cart-total {
    width: 100%;
    color: #222222;
    font-family: Lato, serif;
    font-size: 16px;
    font-weight: 700;
    text-transform: uppercase; }
    .main-cart-total span {
      float: right; }
  .main-cart-good {
    padding: 16px 0;
    border-bottom: 1px solid lightgray; }
    .main-cart-good-title {
      text-transform: uppercase;
      margin-bottom: 3px;
      color: inherit;
      text-decoration: none; }
    .main-cart-good-sub-title {
      margin-bottom: 5px;
      display: flex;
      justify-content: space-between; }
    .main-cart-good-del-btn {
      color: lightgray;
      cursor: pointer; }
    .main-cart-good-del-btn:hover {
      color: #f16d7f;
      outline: none; }
  .main-cart .checkout-btn {
    display: block;
    border: 1px solid #f16d7f;
    background-color: #ffffff;
    color: #f16d7f;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    width: 225px;
    text-align: center;
    text-decoration: none;
    margin-bottom: 11px;
    transition: background-color 0.2s, color 0.2s, border 0.2s; }
    .main-cart .checkout-btn:hover {
      border: 1px solid #ffffff;
      background-color: #f16d7f;
      color: #ffffff; }
  .main-cart .go-to-cart-btn {
    display: block;
    border: 1px solid #4a4a4a;
    background-color: #ffffff;
    color: #4a4a4a;
    font-family: Lato, serif;
    font-size: 14px;
    font-weight: 700;
    text-transform: uppercase;
    padding: 20px;
    width: 225px;
    text-align: center;
    text-decoration: none;
    transition: background-color 0.2s, color 0.2s, border 0.2s; }
    .main-cart .go-to-cart-btn:hover {
      border: 1px solid #ffffff;
      background-color: #4a4a4a;
      color: #ffffff; }

.my-account-panel {
  position: absolute;
  top: 0;
  left: 0;
  width: 262px;
  background-color: white;
  border: 1px solid lightgray;
  border-radius: 5px;
  padding: 15px;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s, opacity 0.3s ease-in-out;
  z-index: 777; }
  .my-account-panel.show {
    visibility: visible;
    opacity: 1; }

.table {
  min-width: 100%;
  border: 1px solid darkgrey;
  border-collapse: collapse; }
  .table th, .table td {
    padding: 3px;
    border: 1px solid darkgrey; }

.hidden {
  display: none; }

/*# sourceMappingURL=main_new.css.map */
